/* TODO: Remove testing CSS
==
==
==
============================== For testing */

/* Mobile First
============================== */
a {
  text-decoration: none;
}

.site-logo {
  align-self: center;
}
.site-logo span {
  display: block;
}

#main-navigation {
  padding-top: 2%;
}

#main-navigation,
.nav {
  display: flex;
  flex-direction: column;
}

.nav {
  margin-top: 1.5em;
  list-style-type: none;
  text-align: center;
}
.nav a {
  display: block;
  color: #ccc;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.4em;
}
.nav a:hover {
  color: #0b0b0b;
}

.main-header {
  margin-top: 1em;
}


* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  text-align: center;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
}

.profile-img {
  width: 60%;
  padding: 2%;
  background: #ededed;
  margin: 0 auto;
}


#portfolio-section {
  background: #fff;
  padding: 3em 0;
}

#main-footer {
  padding: 3em 0 1.5em;
}


/* Tablet Resolution and Mobile Landscape Orientation
============================== */
@media (min-width: 768px),
       (min-width: 400px) and (orientation: landscape) {

  body {
    background: crimson;
  }

  .nav {
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-around;
  }

  .container {
    width: 80%;
    max-width: 1000px;
  }

  .col {
    max-width: 50%;
    display: inline-block;
    margin: 0 -4px;
  }

}

/* Desktop Resolution
============================== */
@media (min-width: 1024px) {

  #main-navigation {
    flex-direction: row;
  }
  .site-logo {
    margin-right: auto;
    text-align: left;
  }
  .nav {
    margin-top: 15px;
  }
  .nav li {
    margin-left: 0.65em;
    margin-right: 0.65em;
    align-self: center;
  }
  .nav a {
    display: block;
    color: #ccc;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em;
    border-bottom: none;
  }

  body {
    background: purple;
  }

  .col {
    max-width: 33.3333%;
    display: inline-block;
  }

}
