/* TODO:
Remove testing CSS
============================== */


/* TODO:
1 - put alt text on images [ ]
============================== */
/* TODO:
2 - clean up with SMACSS [ ]
============================== */
/* TODO:
3 - Fix the 404 page [ ]
============================== */
/* TODO:
4 - HTML VALIDATE [ ]
============================== */
/* TODO:
5 - CSS VALIDATE [ ]
============================== */

/* Mobile First
============================== */


/* TODO
OVERSEE NEW FONT STYLES
============================== */
h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

/* TODO
OVERSEE NEW FONT STYLES
============================== */
p,
figure,
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

h1 {
  font-size: 5vh;
}

a {
  text-decoration: none;
}

.site-logo {
  color: #2c3e50;
  align-self: center;
}
.site-logo span {
  display: block;
}

#main-navigation {
  padding-top: 2%;
}

#main-navigation,
.nav {
  display: flex;
  flex-direction: column;
}

.nav {
  text-align: center;
  text-transform: uppercase;
}
.nav a {
  display: block;
  width: 95%;
  margin-top: 0.2em;
  background: #fff;
  color: #ccc;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.4em;
  margin-left: auto;
  margin-right: auto;
}
.nav a:hover {
  color: #2c3e50;
}

.main-header {
  margin-top: 1em;
  padding: 1em 1em 2.5em;
}

.profile-img-container {
  width: 80%;
  padding: 0.7em 0 0.4em;
  background: #ededed;
  margin: 0 auto;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-text p {
  margin-top: 2em;
  line-height: 1.4;
  color: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #2c3e50;
  text-align: center;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
}




#portfolio-section {
  background: #fff;
  padding: 1em 1em 3em;
}

#portfolio-section figcaption {
  max-width: 80%;
  margin: 0 auto;
}

.col {
  margin-top: 2.5em;
}

#main-footer {
  padding: 2.5em 0 1.5em;
}
#main-footer p:nth-child(2) {
  max-width: 90%;
  margin: 0 auto 2.5em;
  color: red;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h5:first-child {
  float: left;
  margin-left: 5px;
}
h5:last-child {
  float: right;
  margin-right: 5px;
}

.footer-nav {
  display: none;
}




/*
hr {
    margin-top: 4em;
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    max-width: 90%;
}*/



hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}








/* TODO: Tablet Resolution and Mobile Landscape Orientation
============================== */
@media (min-width: 768px),
       (min-width: 400px) and (orientation: landscape) {

  body {

  }


  #portfolio-section h2 {
    margin-bottom: 0;
  }


  .profile-img-container {
    float: right;
    width: 40%;
  }
  .profile-text {
    float: left;
    width: 60%;
    padding: 0 2% 0;
    text-align: left;
  }
  .profile-text p {
    margin-top: 0;
    font-size: 1.2em;
  }



  .nav {
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav a {
    background: none;
  }

  .container {
    width: 80%;
    max-width: 1000px;
  }

  .col {
    max-width: 50%;
    display: inline-block;
    margin-left: -4px;
    margin-right: -4px;
    padding: 1%;
  }


  h5:last-child {
    display: none;
  }

  .mobile-bottom {
    float: left;
  }

  .footer-nav {
    margin-top: 1.3em;
    margin-right: 5px;
    display: block;
    float: right;
  }
  .footer-nav li {
    display: inline-block;
  }


}





















/* TODO: Desktop Resolution
============================== */
@media (min-width: 1024px) {

  #main-navigation {
    flex-direction: row;
  }
  .site-logo {
    margin-right: auto;
    text-align: left;
  }
  .nav {
    margin-top: 15px;
  }
  .nav li {
    margin-left: 0.65em;
    margin-right: 0.65em;
    align-self: center;
  }
  .nav a {
    display: block;
    color: #ccc;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em;
    border-bottom: none;
  }

  body {

  }

  .col {
    max-width: 33.3333%;
    display: inline-block;
    perspective: 1000;
  }




	/* flip animation, inspired by David Walsh */
	.flip-container:hover .flip {
		transform: rotateY(180deg);
	}

  .flip {
  	transition: 1.2s;
  	transform-style: preserve-3d;
  	position: relative;
  }









}
